html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to right,#ffffff, #59e4a8);
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 4px 0 rgba(0, 0,0 , .2);
}

nav .logo {
    font-size:1rem ;
    width: 30%;
    left: 5px;
    position: relative;
    top: -18px;
}

nav .logo img {
    padding-top: 20px;
    width: 55px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 10px;
    font-weight: bold;
    transition: 0.15s;
}

nav a:hover {
    color: aliceblue;
}

#nav-button {
    display: none;
}
label {
    display: none;
}


section{
    margin-top: 50px;
}

#main {
    justify-content: center;
    align-items: center;
}

#main .main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
#main .main-logo img{
    width: 10%;
    border-radius: 50%;
}

#main .main-detail h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#main .main-detail p {
    text-align: center;
    padding: 1px 120px;
    margin-top: 20px;
}

#jadwal {
    padding: 64px 128px;
}

.jadwal-pelajaran {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #37372f;
    border-radius: 10   px;

}

.jadwal-pelajaran-detail {
  margin: 0px auto;
  display: inline-block;
  text-align: center;
  width: 170px;
  height: 170px;
}

.jadwal-pelajaran-detail  h1 {
    
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}

.jadwal-pelajaran-detail h1:hover {
    color: #f8f8f6;
}

.jadwal-pelajaran-detail .submenu{
    width: 0;
    height: 0;
    list-style: none;
    color: #202020;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    margin: 0px auto;
}

.jadwal-pelajaran-detail .submenu li {
    color: #151515;
    padding: 5px 10px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.jadwal-pelajaran-detail .submenu li:hover {
    color: #f8f6f6;
    background-color: #151515;
    padding-left: 15px;
}

.jadwal-pelajaran-detail h1:hover + .submenu , .jadwal-pelajaran-detail .submenu:hover {
    display: inline-block;
    width: 150px;
    height: 135px;
    padding: 15px;
    animation: openMenu 1s ease-in-out;
}

@keyframes openMenu {
    0%{
        margin: 0;
        width: 0;
        height: 0;
        padding: 0;
        border: 2px solid white;
    }   
    50%{
        margin: 0;
        width: 150px;
        height: 0;
        padding: 10px;
    }
}

.jadwal-pelajaran-detail h1,
.jadwal-pelajaran-detail ul,
.jadwal-pelajaran-detail ul li {
    transition-duration: 0.3s;
    animation-timing-function: ease-in-out;
}


#galeri {
    padding: 64px 128px;
}

.galeri-judul {
    margin-bottom: 24px;
}

.galeri-judul h1 {
    font-size: 40px;
}

.galeri {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-right: 0px;
    place-content: center;
    
}

.galeri-isi {
    box-shadow: 0px 4px 4px red;
    text-align: center;
}

.galeri-isi h1 {
    padding: 0px 16px;
    margin: 16px 0px;
}
.galeri-isi p {
   padding: 0px 16px;
   margin-bottom: 32px;
}

.galeri-isi img {
    width: 450px;
}

footer {
    margin-top: 128px;
    padding: 10px 40px;
    background-color: rgb(29, 29, 27);
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 736px)
and (orientation:portrait) {
    nav{
        align-items: center;
    }

    nav .logo{
        width: 30%;
        position: absolute;
        left: 0px;
    }
    nav .logo img {
        padding-top: 20px;
    }

    nav ul{
        position: fixed;
        top: 44px;
        width: 100%;
        background-color: #cdf7e5;
        max-height: 0;
        overflow: hidden;
    }

    nav li {
        display: block;
        text-align: center;
        
    }

    nav li:hover {
        background-color: darkcyan;
    }

    label {
        display: block;
        padding: 0px 16px;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 2%;
    }

    label:hover {
        color: white;
    }
    nav #nav-button:checked~ul {
        max-height: 100%;
        transition: all 1s ease-in-out;
    }

    #jadwal{
        display: flex;
        flex-direction: column;
    }

    .jadwal-pelajaran {
        display: flex;
        flex-direction: column;
    }

    #galeri {
        display: flex;
        flex-direction: column;
    }

    .galeri {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
